/* Main */

.main {
  text-align: center;
}

.main-logo {
  padding: 20px;
}

/* Dashboard */

.dash-logo {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

/* Dashboard */


/* Login/Reg */

.login {
  width: 800px;
  margin: auto;
  margin-top: 10%;
}

.registration {
  width: 700px;
  margin: auto;
  margin-top: 2%;
}

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card cascading-right {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}

.cascading-right {
  margin-right: -50px;
}

@media(min-width:992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }
  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}

@media(max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login/Reg */


/* Top Nav */

.gym-logo {
  height: 40px;
  object-fit: contain;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
}

.header-icon {
  padding: 20px;
}

/* Top Nav */


/* Buddy Cards */

.cards {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 600px;
  max-width: 85vw;
  min-width: 0;
  height: 50vh;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--bs-card-border-color);
  border-radius: 20px;
  box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3);
}

.cards > h3 {
  position: absolute;
  bottom: 10px;
  color: white;
}

.buddy-card-container {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.swipe {
  position: absolute;
}

/* Buddy Cards */


/* Swipe Buttons */

.swipeButtons {
  position: fixed;
  bottom: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons-repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipeButtons-left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.swipeButtons-star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.swipeButtons-right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.swipeButtons-lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}

/* Swipe Buttons */


/* Chats */

.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.chat-image {
  margin-right: 20px;
}

.chat-details {
  flex: 1;
}

.chat-details > p {
  color: gray;
}

.chat-timestamp {
  color: lightgray;
}

.chatScreen-message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chatScreen-textUser {
  margin-left: auto;
  background-color: #29b3cd;
  padding: 15px;
  border-radius: 20px;
  color: white;
}

.chatScreen-timestamp {
  text-align: center;
  padding: 20px;
  color: gray;
}

.chatScreen-text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}

.chatScreen-inputButton {
  border: none;
  margin-right: 20px;
  background-color: white;
  font-weight: bolder;
  color: #fe3d71;
}

.chatScreen-inputField {
  flex: 1;
  padding: 10px;
  border: none;
}

.chatScreen-input {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}

/* Chats */

