/* Global */

.main {
  text-align: center;
  color: black;
}

.main-logo {
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Global */

/* Dashboard */

.logo-header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 50px;
}

.logout-button {
  border: none;
  background-color: white;
  box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3);
  font-weight: bolder;
  color: #fe3d71;
  border-radius: 20px;
  cursor: pointer;
  width: 90px;
  height: 5vh;
}

/* Dashboard */


/* Login/Reg */

.log-reg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* Login/Reg */


/* Top Nav */

.gym-logo {
  height: 60px;
  object-fit: contain;
  border-radius: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
}

.header-icon {
  color: #fe3d71 !important;
}

/* Top Nav */


/* Buddy Cards */

.cards {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  max-width: 85vw;
  min-width: 0;
  height: 50vh;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--bs-card-border-color);
  border-radius: 20px;
  box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3);
}

.cards > h3 {
  position: absolute;
  bottom: 10px;
  color: black;
}

.buddy-card-container {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}

.swipe {
  position: absolute;
}

/* Buddy Cards */


/* Swipe Buttons */

.swipeButtons {
  position: fixed;
  bottom: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons-repeat {
  padding: 2vw !important;
  color: #f5b748 !important;
}

.swipeButtons-left {
  padding: 2vw !important;
  color: #ec5e6f !important;
}

.swipeButtons-star {
  padding: 2vw !important;
  color: #62b4f9 !important;
}

.swipeButtons-right {
  padding: 2vw !important;
  color: #76e2b3 !important;
}

.swipeButtons-lightning {
  padding: 2vw !important;
  color: #915dd1 !important;
}

/* Swipe Buttons */


/* Chats */

.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center !important;
  width: 90%;
  margin-left: 70px;
  margin-top: 20px;
}

.new-match {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  margin-left: 30px;
  font-size: x-large;
}

.messages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 40px;
  font-size: x-large;
}

.chat-image {
  margin-left: 40px;
  cursor: pointer;
}

.chat-details {
  flex: 1;
}

.chat-details > p {
  color: gray;
}

.chat-timestamp {
  color: lightgray;
}

.chatScreen-message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chatScreen-textUser {
  margin-left: auto;
  background-color: #29b3cd;
  padding: 15px;
  border-radius: 20px;
  color: white;
}

.chatScreen-timestamp {
  text-align: center;
  padding: 20px;
  color: gray;
}

.chatScreen-text {
  margin-left: 10px;
  background-color: grey;
  padding: 15px;
  border-radius: 20px;
}

.chatScreen-inputButton {
  border: none;
  margin-right: 20px;
  background-color: white;
  font-weight: bolder;
  color: #fe3d71;
}

.chatScreen-inputField {
  flex: 1;
  padding: 10px;
  border: none;
}

.chatScreen-input {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid grey;
}

/* Chats */

